body {
    font-family: Arial, sans-serif;  
    background-color: #f2f2d6;    
    text-align: center;              
    margin: 20px;                   
}
 
title { 
    color:blue;
    font-size: medium;
    text-align:center;
    margin-bottom: 30px;

}
h1{
    color:black;

}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.description {
    color: dimgray;                  
    font-size: 14px;                
    margin: 10px 0;
}
button{
    color:blue;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: navajowhite;
}
    .price {
    color: red;                      
    font-weight: bold;               
    margin-bottom: 0px;             
}
h2 {
font-size: large;
color: black;
text-align: center;

}

button {
    background-color: blue;          
    color: white;                    
    padding: 5px 10px;  
      
    border: none;                   
    border-radius: 5px;              
}
.product-box{
    background-color: white;
    margin:0 auto;
    width:300px ;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid gray;


}